.page-login
{
    padding: 100px 0px 100px 0px;
    background-color: rgb(246, 194, 202);
}
.content-login
{
    width: 400px;
    height: 500px;
    display: flex;
    flex-direction: column;
    padding: 45px;
    margin: auto;
    background-color: white;
    border-radius: 15px;
    justify-content: space-between;
    font-size: 14px;
}

.page-login .btn-custom
{
    background-color: rgb(225, 1, 1);
    color: white;
    width: 100%;
}

.page-login input 
{
    outline: none;
    font-size: 20px;
    border: none;
    border-bottom: 1px solid grey;
    padding: 5px;
}

.page-login a
{
    color: red !important;
    font-weight: 600;
    text-decoration: none;
    margin-left: 10px;

}
